// scss-lint:disable DeclarationOrder

// SASS imports
@import 'partial/reset', 'bourbon/bourbon', 'neat/neat', 'wireframe/wireframe', 'partial/var';

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300,100);



// Breakpoints, this should cover 99.9% of scenarios nicely
$breakpoint-mobile-small: new-breakpoint(max-width 400px);
$breakpoint-mobile-large: new-breakpoint(max-width 800px min-width 401px);
$breakpoint-desktop-small: new-breakpoint(max-width 1200px min-width 801px);
$breakpoint-desktop-large: new-breakpoint(min-width 1201px);

// Set the default font of all body children to Lato, falling back on sans-serif
body {
  font-family: $font-base;
}

.fp-container {
  // Wireframe
  @include wireframe();

  @include outer-container;
}

.fp-header {
  // Wireframe
  @include wireframe(5%);

  padding: 1.5% 0;

  // Stuff that applies regardless of breakpoint
  h1 {
    @include span-columns(12);

    color: $color-font-base;
    font-size: modular-scale(4);
    font-weight: $fweight-heavy;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;


    a:link,
    a:active,
    a:visited,
    a:hover {
      color: $color-font-base;
      text-decoration: none;
    }
  }

  img {
    @include shift(5);
    @include span-columns(2);

    height: auto;
    text-align: center;
    padding-bottom: 1.5%;
  }

  // Media Queries
  @include media($breakpoint-mobile-small) {
    @include shift(0);
    @include span-columns(12);

    h1 {
      font-size: $fsize-h1-base;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo;
    }
  }

  @include media($breakpoint-mobile-large) {
    @include shift(0);
    @include span-columns(12);

    h1 {
      font-size: $fsize-h1-base * 1.2;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo * 1.2;
    }
  }

  @include media($breakpoint-desktop-small) {
    @include shift(1);
    @include span-columns(10);

    h1 {
      font-size: $fsize-h1-base * 1.8;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo * 1.5;
    }
  }

  @include media($breakpoint-desktop-large) {
    @include shift(1);
    @include span-columns(10);

    h1 {
      font-size: $fsize-h1-base * 2;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo * 1.6;
    }
  }

}


.fp-article {
  // Wireframe
  @include wireframe(5%);

  padding: 1.5% 0;

  // Stuff that applies regardless of breakpoint
  h1 {
    @include span-columns(12);

    color: $color-font-base;
    font-weight: $fweight-normal;
    line-height: 1;
    text-align: center;
    text-transform: none;


    a:link,
    a:active,
    a:visited,
    a:hover {
      color: $color-font-base;
      text-decoration: none;
    }
  }

  img {
    @include shift(5);
    @include span-columns(2);

    height: auto;
    text-align: center;
    padding-bottom: 1.5%;
  }

  // Media Queries
  @include media($breakpoint-mobile-small) {
    @include shift(0);
    @include span-columns(12);

    h1 {
      font-size: $fsize-h1-base * .5;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo;
    }
  }

  @include media($breakpoint-mobile-large) {
    @include shift(0);
    @include span-columns(12);

    h1 {
      font-size: $fsize-h1-base * .6;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo * 1.2;
    }
  }

  @include media($breakpoint-desktop-small) {
    @include shift(1);
    @include span-columns(10);

    h1 {
      font-size: $fsize-h1-base * .8;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo * 1.5;
    }
  }

  @include media($breakpoint-desktop-large) {
    @include shift(1);
    @include span-columns(10);

    h1 {
      font-size: $fsize-h1-base * 1;
      padding-bottom: 0;
    }

    h2 {
      font-size: $fsize-h2-base;
    }

    img {
      width: $imgsize-logo * 1.6;
    }
  }
}
