// Font stack, ideally should be no more than 2 fonts
$font-base: 'Lato', sans-serif;


// Color stack
$color-font-base: #000;


// Font weights
$fweight-light: 300;
$fweight-normal: 400;
$fweight-heavy: 700;


// Font sizes
$fsize-h1-base: 180%;
$fsize-h2-base: 115%;


// Image sizes
$imgsize-logo: 4rem;


// Bourbon configuration options
$modular-scale-ratio: $major-second;




